header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    
    nav{
    ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        li{
            a{
                color: aquamarine;
                font-size: 20px;
            }
        }
    }
}
}